.login-container {
    margin-left: auto;
    margin-right: auto;
    width: 250px;


    @media screen and (max-width: 800px) {
        width: 94vw;
        margin-left: 24px;
        margin-right: 10px;

    }
}

.forgot-password {
    float: right;
    margin-bottom: 5px;
    color: #64baf0;
    font-style: italic;
}

.ui.header:first-child {
    margin-top: 2.857143em;
}

div.ui.segment {
    margin-top: 2.857143em;
    ;
}

@media screen and (max-width: 400px) {

    .ui.checkbox .box,
    .ui.checkbox label {
        margin-bottom: 10px;
    }

    .ui.message {
        width: 94vw;
    }

    div.ui.segment {
        margin-top: 40px;
    }

    .ui.header:first-child {
        margin-top: 2.857143em;
    }
}